<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">

    <h1>About Page</h1>

    <h3>Password Generator</h3>
    <br>
    <html>This website is used to generate random passwords.</html> <br>
    <html>You can choose how long the password is, along with other characteristics you want the password to have.</html>
    <br>
    <br>
    <html>Written By: Rich Pierce</html> <br> 
    <html>Date: April 7th, 2020</html>
    <br> <br>

    <a href="{% url 'home' %}" class="btn btn-warning">Home </a>
</div>